{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Register {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-6">
			<form action="/proses-register" method="POST">
				<div class="mb-3">
					<label for="nama" class="form-label">Nama</label>
					<input type="text" class="form-control" value="" id="nama" name="nama" autofocus aria-describedby="namaHelp">
					<div id="namaHelp" class="form-text">Tuliskan nama lengkap.</div>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" value="{{email}}" id="email" name="email" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}